@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  background: lightgrey;
}

h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
}

.box {
  width: 15em;
  height: 15em;
  text-align: center;
  margin: 2em;
}

#image {
  display: inline-block;
  margin: 4em 2em;
  width: 15em;
}

img {
  width: 100%;
}

.playerOne {
  display: inline-block;
  background-color: red;
}

.playerTwo {
  display: inline-block;
  background-color: grey;
}

.name {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 1em;
  font-family: "Roboto", sans-serif;
}

.move {
  margin-top: 5em;
  font-size: 1.2em;
  font-family: "Roboto", sans-serif;
}

.wins {
  margin-top: 1em;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
}

#buttons {
  display: flex;
  justify-content: center;
}

#buttonsOne {
  display: inline-block;
  margin: 0 10em;
}

#buttonsTwo {
  display: inline-block;
  margin: 0 10em;
}

input {
  margin: 2em 1em;
  padding: 0.5em 1em;
  border-width: 2px;
}

h3 {
  text-align: center;
  font-size: 2em;
  font-family: "Roboto", sans-serif;
}
