@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
  background: lightgrey;
}

h1 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin-bottom: 2em;
}

img {
  width: 100%;
}

input {
  margin-top: 2em 1em;
  padding: 0.5em 1em;
  border-width: 2px;
}

.container {
  display: flex;
  justify-content: center;
}

.box {
  width: 16em;
  height: 15em;
  text-align: center;
  margin: 2em;
  color: lightgrey;
}

.playerOne {
  display: inline-block;
  background-color: #8b0000;
}

.playerTwo {
  display: inline-block;
  background-color: grey;
}

.name {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 1em;
  font-family: "Roboto", sans-serif;
}

.move {
  margin-top: 5em;
  font-size: 1.2em;
  font-family: "Roboto", sans-serif;
}

.wins {
  margin-top: 1em;
  font-size: 1em;
  font-family: "Roboto", sans-serif;
}

.btn {
  box-shadow: 0px 0px 12px -2px;
  background-color: darkcyan;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  margin: 0.5em 1em;
}

.btn:hover {
  background-color: #007272;
}

.button:active {
  background-color: #007272;
  transform: translateY(4px);
}

#buttons {
  display: flex;
  justify-content: center;
}

#buttonsOne {
  display: inline-block;
  margin-top: 2.5em;
}

#buttonsTwo {
  display: inline-block;
  margin-top: 2.5em;
}

#checkWinner,
#startGame {
  display: flex;
  justify-content: center;
  font-size: 16px;
  margin: -1em;
}

.checkWinner,
.startGame {
  background-color: #656172;
  color: darkgray;
}

#image {
  display: inline-block;
  margin: 4em 2em;
  width: 15em;
}

@media only screen and (max-width: 650px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  img {
    margin-top: 3em;
    margin-bottom: -2em;
  }

  #checkWinner {
    margin-top: 7em;
  }
}
